#row1{
    background-color:blue;
}
.col:nth-child(even){
background-color: green;
}
.col:nth-child(odd){
    background-color:plum;
    }
#row1:hover{
    background-color:blueviolet;
}
.col:nth-child(even):hover{
    background-color:yellow;
}
.col:nth-child(odd):hover{
    background-color:turquoise;
    }
